<section class="advantages-section" data-aos="fade-up" data-aos-duration="1000">


    <div class="container advantages-container">
        <h2 class="section-title visually-hidden">Advantages</h2>
        <ul class="advantages-list list">
            <li class="advantages-item">
                <div class="advantages-svg-field">
                    <svg class="advantages-icon">
                        <use href="/img/svg/sprite.svg#icon-chocolate-bar"></use>
                    </svg>
                </div>
                <div class="advantages-text-field">
                    <h3 class="advantages-card-title">Unsurpassed taste</h3>
                    <p class="advantages-card-description">Crafted with the finest quality cocoa beans and a dedication
                        to
                        perfection, each bite is a decadent experience that simply cannot be matched. Savor the richness
                        and
                        complexity of our Unsurpassed Taste and discover a new level of chocolate bliss.</p>
                </div>

            </li>
            <li class="advantages-item">
                <div class="advantages-svg-field">
                    <svg class="advantages-icon">
                        <use href="/img/svg/sprite.svg#icon-coin"></use>
                    </svg>
                </div>
                <div class="advantages-text-field">
                    <h3 class="advantages-card-title">Affordable price</h3>
                    <p class="advantages-card-description">Indulge in high-quality chocolate without breaking the bank
                        with
                        Simply Chocolate's selection of affordable treats. Enjoy mouth-watering truffles and velvety
                        chocolate bars without sacrificing taste or quality. Browse our selection and indulge in
                        affordable
                        luxury today.</p>
                </div>
            </li>
            <li class="advantages-item">
                <div class="advantages-svg-field">
                    <svg class="advantages-icon">
                        <use href="/img/svg/sprite.svg#icon-spoon"></use>
                    </svg>
                </div>
                <div class="advantages-text-field">
                    <h3 class="advantages-card-title">Own production</h3>
                    <p class="advantages-card-description">We take pride in our own production process, ensuring that
                        every
                        step is carefully crafted to perfection. From selecting the finest ingredients to handcrafting
                        each
                        piece, our attention to detail is evident in every bite.</p>
                </div>

            </li>
        </ul>
    </div>
</section>