<!-- прошу в усіх своїх классах, крім тих що прописані в /reset.css додавати приставку -footer, щоб уникнути дублювання стилів -->
<footer class="footer" id="footer">
  <div class="container">
    <div class="footer-page-wrapper">
      <div class="footer-left">
        <h2 class="footer-header">
          <span class="footer-header-span">Chocolate</span> a delicious cure for a bad day
        </h2>
      </div>
      <div class="wrapper-footer">
        <div class="footer-contact">
          <p class="text-footer">Contact us</p>
          <ul class="list contacts-footer">
            <li class="contact-tel-footer">
              <a href="tel:+380684439426" class="link contact-footer-link">+380 (68) 443-94-26</a>
            </li>
            <li class="contact-mail-footer">
              <a href="mailto:simplychoc@gmail.com" class="link contact-footer-link"
                >simplychoc@gmail.com</a
              >
            </li>
          </ul>
        </div>
        <div class="icons-footer-div">
          <ul class="list icons-footer">
            <li class="icon-footer-list">
              <a
                href="https://www.instagram.com/"
                target="_blank"
                rel="noreferrer noopener"
                class="link icon-footer-link"
              >
                <svg width="22" height="22" class="footer-svg">
                  <use href="/img/svg/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="icon-footer-list">
              <a
                href="https://twitter.com/"
                target="_blank"
                rel="noreferrer noopener"
                class="link icon-footer-link"
              >
                <svg width="22" height="22" class="footer-svg">
                  <use href="/img/svg/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="navigation-footer-page">
      <ul class="list navigation">
        <li class="footer-navigation-list">
          <a href="#header" class="navigation-link link">Home</a>
        </li>
        <li class="footer-navigation-list">
          <a href="#made" class="navigation-link link">How it’s made?</a>
        </li>
        <li class="footer-navigation-list">
          <a href="#products" class="navigation-link link">Our products</a>
        </li>
        <li class="footer-navigation-list">
          <a href="#sellers" class="navigation-link link">Top sellers</a>
        </li>
        <li class="footer-navigation-list">
          <a href="#reviews" class="navigation-link link">Chocolate is loved</a>
        </li>
      </ul>
    </div>
    <!-- твій код має бути вище цієї лінії -->
  </div>
</footer>
