<!-- Копіюємо і використовуємо. Важливі три моменти: 
   1) В кнопках прописати клас та відповідний атрибут. 
   2) На дів бекдропа задати два відповідні класи (для включення/відключення видимості).
   3) На свг з закриттям модалки задати відповідний клас-->

<!-- ДОДАВАЙТЕ ІНДИВІДУАЛЬНІ КЛАСИ для стилізації, щоб уникнути помилок -->

<!-- /////////////////// -->
<!-- ДЛЯ МОДАЛКИ BUY NOW -->
<!-- стиль та атрибути, які вішаються на кнопки Buy now в двох секціях (Hero та Sellers) -->
<button class="js-open-modal" data-modal="1"></button>
<!--- також додасте клас вже зі стилями своєї кнопки додатковий -->
<!---  скелет модалки+бекдропа(котрий прозорий) бай нау  -->
<div class="modal" data-modal="1">
   <!--  клас який потрібно накинути для Svg іконки для закриття вікна  -->
   <svg class="js-modal-close">
      <use></use>
   </svg>
   <!--  -->
   <!-- відповідна розмітка для модалки -->
   <!--  -->
</div>
<div class="overlay js-overlay-modal"> </div>
<!-- ////////////////////////////// -->

<!-- /////////////////// -->
<!-- ДЛЯ МОДАЛКИ REVIEW -->
<!-- стиль та атрибути, які вішаються на кнопки REVIEW в секції Reviews -->
<button class="js-open-modal" data-modal="2"></button>
<!--- також додасте клас вже зі стилями своєї кнопки додатковий -->
<!---  скелет модалки+бекдропа(котрий прозорий) бай нау  -->

<div class="modal" data-modal="2">
   <!--  клас який потрібно накинути для Svg іконки для закриття вікна  -->
   <svg class="js-modal-close">
      <use></use>
   </svg>
   <!--  -->
   <!-- відповідна розмітка для модалки -->
   <!--  -->
</div>
<div class="overlay js-overlay-modal"></div>
<!-- ////////////////////////////// -->

<!-- /////////////////// -->
<!-- ДЛЯ МОДАЛКИ SUBSCRIBE -->
<!-- стиль та атрибути, які вішаються на кнопки Subscribe в секції Subscribe -->
<button class="js-open-modal" data-modal="3"></button>
<!--- також додасте клас вже зі стилями своєї кнопки додатковий -->
<!---  скелет модалки+бекдропа(котрий прозорий) бай нау  -->

<div class="modal" data-modal="3">
   <!--  клас який потрібно накинути для Svg іконки для закриття вікна  -->
   <svg class="js-modal-close">
      <use></use>
   </svg>
   <!--  -->
   <!-- відповідна розмітка для модалки -->
   <!--  -->
</div>
<div class="overlay js-overlay-modal"></div>
<!-- ////////////////////////////// -->