<!-- прошу в усіх своїх классах, крім тих що прописані в /reset.css додавати приставку -products, щоб уникнути дублювання стилів -->
<section class="products-section">
  <!-- розмір контейнера вже заданий в /reset.css для всіх пристроїв -->
  <div class="container">
    <!-- починай писати свій код під цією лінією -->
    <h2 class="products-title">OUR <span class="products-title-span">PRODUCTS</span></h2>
    <div>
      <ul class="products-list">
        <li class="products-item">
          <img src="" alt="" width="230" height="201" />
          <div class="products-chocolate-describe">
            <h3 class="products-chocolate-name">ORANGE</h3>
            <p class="products-chocolate-type">Dark chocolate</p>
            <button type="button" class="button products-chocolate-btn">45 UAH</button>
          </div>
        </li>
        <li class="products-item">
          <img src="" alt="" width="230" height="201" />
          <div class="products-chocolate-describe">
            <h3 class="products-chocolate-name">ORANGE</h3>
            <p class="products-chocolate-type">Dark chocolate</p>
            <button type="button" class="button products-chocolate-btn">45 UAH</button>
          </div>
        </li>
        <li class="products-item">
          <img src="" alt="" width="230" height="201" />
          <div class="products-chocolate-describe">
            <h3 class="products-chocolate-name">ORANGE</h3>
            <p class="products-chocolate-type">Dark chocolate</p>
            <button type="button" class="button products-chocolate-btn">45 UAH</button>
          </div>
        </li>
        <li class="products-item">
          <img src="" alt="" width="230" height="201" />
          <div class="products-chocolate-describe">
            <h3 class="products-chocolate-name">ORANGE</h3>
            <p class="products-chocolate-type">Dark chocolate</p>
            <button type="button" class="button products-chocolate-btn">45 UAH</button>
          </div>
        </li>
        <li class="products-item">
          <img src="" alt="" width="230" height="201" />
          <div class="products-chocolate-describe">
            <h3 class="products-chocolate-name">ORANGE</h3>
            <p class="products-chocolate-type">Dark chocolate</p>
            <button type="button" class="button products-chocolate-btn">45 UAH</button>
          </div>
        </li>
        <li class="products-item">
          <img src="" alt="" width="230" height="201" />
          <div class="products-chocolate-describe">
            <h3 class="products-chocolate-name">ORANGE</h3>
            <p class="products-chocolate-type">Dark chocolate</p>
            <button type="button" class="button products-chocolate-btn">45 UAH</button>
          </div>
        </li>
        <li class="products-item">
          <img src="" alt="" width="230" height="201" />
          <div class="products-chocolate-describe">
            <h3 class="products-chocolate-name">ORANGE</h3>
            <p class="products-chocolate-type">Dark chocolate</p>
            <button type="button" class="button products-chocolate-btn">45 UAH</button>
          </div>
        </li>
        <li class="products-item">
          <img src="" alt="" width="230" height="201" />
          <div class="products-chocolate-describe">
            <h3 class="products-chocolate-name">ORANGE</h3>
            <p class="products-chocolate-type">Dark chocolate</p>
            <button type="button" class="button products-chocolate-btn">45 UAH</button>
          </div>
        </li>
      </ul>
    </div>
    <!-- твій код має бути вище цієї лінії -->
  </div>
</section>
