<!-- прошу в усіх своїх классах, крім тих що прописані в /reset.css додавати приставку -products, щоб уникнути дублювання стилів -->
<section class="products-section" id="products" data-aos="fade-up" data-aos-duration="1000">
  <!-- розмір контейнера вже заданий в /reset.css для всіх пристроїв -->
  <div class="container products-container">
    <!-- починай писати свій код під цією лінією -->
    <h2 class="products-title section-title">OUR <span class="span-orange">PRODUCTS</span></h2>
    <div class="swiper">
      <ul class="products-list swiper-wrapper">
        <li class="products-item swiper-slide">
          <picture>
            <source srcset="/img/products/orange.webp 1x, /img/products/orange@2x.webp 2x" type="image/webp" />
            <source srcset="/img/products/orange.png 1x, /img/products/orange@2x.png 2x" type="image/png" />
            <img src="/img/products/orange.png" alt="orange dark chocolate" width="230" height="201" />
          </picture>
          <div class="products-chocolate-describe">
            <h3 class="products-chocolate-name">ORANGE</h3>
            <p class="products-chocolate-type">Dark chocolate</p>
            <button type="button" class="button products-chocolate-btn">45 UAH</button>
          </div>
        </li>
        <li class="products-item swiper-slide">
          <picture>
            <source srcset="
                /img/products/apple-cranberry.webp    1x,
                /img/products/apple-cranberry@2x.webp 2x
              " type="image/webp" />
            <source srcset="/img/products/apple-cranberry.png 1x, /img/products/apple-cranberry@2x.png 2x"
              type="image/png" />
            <img src="/img/products/apple-cranberry.png" alt="apple cranberry milk chocolate" width="230"
              height="201" />
          </picture>

          <div class="products-chocolate-describe">
            <h3 class="products-chocolate-name">APPLE&CRANBERRY</h3>
            <p class="products-chocolate-type">Milk chocolate</p>
            <button type="button" class="button products-chocolate-btn">50 UAH</button>
          </div>
        </li>
        <li class="products-item swiper-slide">
          <picture>
            <source srcset="/img/products/lime-sea-salt.webp 1x, /img/products/lime-sea-salt@2x.webp 2x"
              type="image/webp" />
            <source srcset="/img/products/lime-sea-salt.png 1x, /img/products/lime-sea-salt@2x.png 2x"
              type="image/png" />
            <img src="/img/products/lime-sea-salt.png" alt="lime sea salt dark chocolate" width="230" height="201" />
          </picture>
          <div class="products-chocolate-describe">
            <h3 class="products-chocolate-name">LIME&SEA SALT</h3>
            <p class="products-chocolate-type">Dark chocolate</p>
            <button type="button" class="button products-chocolate-btn">45 UAH</button>
          </div>
        </li>
        <li class="products-item swiper-slide">
          <picture>
            <source srcset="/img/products/pineapple.webp 1x, /img/products/pineapple@2x.webp 2x" type="image/webp" />
            <source srcset="/img/products/pineapple.png 1x, /img/products/pineapple@2x.png 2x" type="image/png" />
            <img src="/img/products/pineapple.png" alt="pineapple dark chocolate" width="230" height="201" />
          </picture>
          <div class="products-chocolate-describe">
            <h3 class="products-chocolate-name">PINEAPPLE</h3>
            <p class="products-chocolate-type">Dark chocolate</p>
            <button type="button" class="button products-chocolate-btn">66 UAH</button>
          </div>
        </li>
        <li class="products-item swiper-slide">
          <picture>
            <source srcset="/img/products/classic.webp 1x, /img/products/classic@2x.webp 2x" type="image/webp" />
            <source srcset="/img/products/classic.png 1x, /img/products/classic@2x.png 2x" type="image/png" />
            <img src="/img/products/classic.png" alt="classic milk chocolate" width="230" height="201" />
          </picture>
          <div class="products-chocolate-describe">
            <h3 class="products-chocolate-name">CLASSIC</h3>
            <p class="products-chocolate-type">Milk chocolate</p>
            <button type="button" class="button products-chocolate-btn">45 UAH</button>
          </div>
        </li>
        <li class="products-item swiper-slide">
          <picture>
            <source srcset="/img/products/honey.webp 1x, /img/products/honey@2x.webp 2x" type="image/webp" />
            <source srcset="/img/products/honey.png 1x, /img/products/honey@2x.png 2x" type="image/png" />
            <img src="/img/products/honey.png" alt="honey milk chocolate" width="230" height="201" />
          </picture>
          <div class="products-chocolate-describe">
            <h3 class="products-chocolate-name">HONEY</h3>
            <p class="products-chocolate-type">Milk chocolate</p>
            <button type="button" class="button products-chocolate-btn">50 UAH</button>
          </div>
        </li>
        <li class="products-item swiper-slide">
          <picture>
            <source srcset="/img/products/roasted-fruits.webp 1x, /img/products/roasted-fruits@2x.webp 2x"
              type="image/webp" />
            <source srcset="/img/products/roasted-fruits.png 1x, /img/products/roasted-fruits@2x.png 2x"
              type="image/png" />
            <img src="/img/products/roasted-fruits.png" alt="roasted fruits dark chocolate" width="230" height="201" />
          </picture>
          <div class="products-chocolate-describe">
            <h3 class="products-chocolate-name">ROASTED FRUITS</h3>
            <p class="products-chocolate-type">Dark chocolate</p>
            <button type="button" class="button products-chocolate-btn">66 UAH</button>
          </div>
        </li>
        <li class="products-item swiper-slide">
          <picture>
            <source srcset="/img/products/classic-white.webp 1x, /img/products/classic-white@2x.webp 2x"
              type="image/webp" />
            <source srcset="/img/products/classic-white.png 1x, /img/products/classic-white@2x.png 2x"
              type="image/png" />
            <img src="/img/products/classic-white.png" alt="classic white chocolate" width="230" height="201" />
          </picture>
          <div class="products-chocolate-describe">
            <h3 class="products-chocolate-name">CLASSIC</h3>
            <p class="products-chocolate-type">White chocolate</p>
            <button type="button" class="button products-chocolate-btn">54 UAH</button>
          </div>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
    <!-- твій код має бути вище цієї лінії -->
  </div>
</section>