<!-- прошу в усіх своїх классах, крім тих що прописані в /reset.css додавати приставку -reviews, щоб уникнути дублювання стилів -->
<section class="reviews-section">
    <!-- розмір контейнера вже заданий в /reset.css для всіх пристроїв -->
    <div class="container">
        <!-- починай писати свій код під цією лінією -->
          <h2 class="subscribe-name">CHOCOLATE <span class="subscribe-name-one">IS LOVED</span></h2>
          <div class="subscribe-main">
              <ul class="subscribe-list list">
                  <li>
                      <img src="" alt="">
                      <h3>Victoria Dobrzhanska</h3>
                      <p>I love this chocolate bar. Perfect combination of light crispy wafer, covered in a thin layer chocolate.</p>
                  </li>
                  <li>
                      <img src="" alt="">
                      <h3>Nazar Babenko</h3>
                      <p>This chocolate confection is a delight! A delight! The wafer is light and crisp, the hazelnut cream is smooth, and the
                    chocolate is good.</p>
                  </li>
                  <li>
                      <img src="" alt="">
                      <h3>Olena Kampusch</h3>
                      <p>Chocolate is a family favourite treat. Love the delicious smooth chocolate and the creaminess inside. The wafer is soft
                    but crunchy.</p>
                  </li>
                  <li>
                      <img src="" alt="">
                      <h3>Natalia Sus</h3>
                      <p>The chocolate assortment was delicious. Both dark and milk chocolate pieces were smooth and just right on the sweetness
                    level.</p>
                  </li>
                  <li>
                      <img src="" alt="">
                      <h3>Danilo Nottingham</h3>
                      <p>This is delicious. It so rich and flavorful you don’t need to use as many. I love topping an apple with almond butter
                    and these chips for a snack.</p>
                  </li>
                  <li>
                      <img src="" alt="">
                      <h3>Irina Tydnyuk</h3>
                      <p>This is simply the best chocolate around, and I'm just thrilled to support a local company! Best local chocolate - world
                    class :)</p>
                  </li>
              </ul>
          </div>
          <button class="subscribe-open-btn" type="button">Leave a review</button>
        <!-- твій код має бути вище цієї лінії -->
    </div>
</section>