<!-- прошу в усіх своїх классах, крім тих що прописані в /reset.css додавати приставку -unique, щоб уникнути дублювання стилів -->
<section class="unique-section">
    <!-- розмір контейнера вже заданий в /reset.css для всіх пристроїв -->
    <div class="container unique-container">
        <!-- починай писати свій код під цією лінією -->
        <h3 class="section-title unique-section-title ">IT ALL ADDS UP TO ONE EXCEPTIONAL&nbsp;<span class="span-orange">&nbsp;TASTE</span> SENSATION</h3>
        <p class="unique-description">At Simply Chocolate, we believe that the secret to exceptional chocolate is in the details. From the sourcing of the
        finest ingredients to the careful crafting of each individual piece, every step of our process adds up to one
        exceptional taste sensation.</p>
        <ul class=" list unique-ingredients-list">
            <li class="unique-ingredients-item unique-milk-chocolate">
                <div class="unique-ingredients-item-face">
                    <h4>MILK CHOCOLATE</h4>
                </div>
            </li>
            <li class="unique-ingredients-item unique-milk" >
                <div class="unique-ingredients-item-face">
                    <h4>Milk</h4>
                </div>
            </li>
            <li class="unique-ingredients-item unique-nuts">
                <div class="unique-ingredients-item-face">
                    <h4>NUTS</h4>
                </div>
            </li>
            <li class="unique-ingredients-item unique-sweet-chocolate">
                <div  class="unique-ingredients-item-face">
                    <h4>SEMI - SWEET CHOCOLATE</h4>
                </div>
            </li>
        </ul>
        <!-- твій код має бути вище цієї лінії -->
    </div>
</section>