@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.woff2'),
    url('../fonts/Montserrat-Regular.woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.woff2'),
    url('../fonts/Montserrat-Medium.woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.woff2'),
    url('../fonts/Montserrat-SemiBold.woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.woff2'),
    url('./fonts/Montserrat-Bold.woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-BoldItalic.woff2'),
    url('../fonts/Montserrat-BoldItalic.woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}