@font-face {
  font-family: 'Monteserrat';
  font-style: normal;
  src: local('Monteserrat'), url('/fonts/Montserrat-Bold.woff2') format('woff2'),
    url('/fonts/Montserrat-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Monteserrat';
  font-style: normal;
  src: local('Monteserrat'), url('/fonts/Montserrat-BoldItalic.woff2') format('woff2'),
    url('/fonts/Montserrat-BoldItalic.woff') format('woff');
}
@font-face {
  font-family: 'Monteserrat';
  font-style: normal;
  src: local('Monteserrat'), url('/fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('/fonts/Montserrat-SemiBold.woff') format('woff');
}
@font-face {
  font-family: 'Monteserrat';
  font-style: normal;
  src: local('Monteserrat'), url('/fonts/Montserrat-Medium.woff2') format('woff2'),
    url('/fonts/Montserrat-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Monteserrat';
  font-style: normal;
  src: local('Monteserrat'), url('/fonts/Montserrat-Regular.woff2') format('woff2'),
    url('/fonts/Montserrat-Regular.woff') format('woff');
}
