/* зверни увагу, що ширина контейнеру та деякі скидання прописані в /reset.css */
.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 14px;
}
.header-logo-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    
}
.header-logo-icon {
    stroke: var(--orange-color);
    fill: #FCF1E0;
}
.header-logo-text {
    font-style: italic;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.03em;
    color: var(--black-color);
}
.mobile-menu-open-btn {
    display: block;
    padding: 0;
    width: 28px;
    height: 28px;
    background-color: transparent;
    border: none;
}
.mobile-menu-open-btn-icon {
    stroke: var(--black-color);
    fill: transparent;
}
/* ========== MOBILE MENU ========== */
.mobile-menu  {
    position: fixed;
    top: 0;
    right: 0;
    width: 220px;
    height: 100vh;
    background-color: var(--dark-purple-color);
    opacity: 0;
    visibility: hidden;
    pointer-events: none; 
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }
  .mobile-menu-container {
    position: relative;
    width: auto;
    height: 100%;
    padding-top: 136px;
    padding-left: 50px;
    padding-right: 46px;
  }
  .mobile-menu-list-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #ffffff;
  }
  .mobile-menu-list-link:hover,
  .mobile-menu-list-link:focus {
    color: var(--orange-color);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
  }
  .mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
.mobile-menu-close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    padding: 0;
    background-color: transparent;
    border: none;
}
.mobile-menu-close-btn-icon {
    stroke: #ffffff; 
}
.mobile-menu-networks-wrapper {
    position: absolute;
    left: 20px;
    bottom: 20px;
}
.mobile-menu-networks-instagram-icon,
.mobile-menu-networks-twitter-icon {
    stroke: #ffffff;
    fill: transparent;
}
.mobile-menu-networks-list {
    display: flex;
    gap: 16px;
}
.mobile-menu-networks-link {
    display: flex;
    width: 22px;
    height: 22px;
}
.mobile-menu-networks-link:hover,
.mobile-menu-networks-link:focus {
    stroke: var(--orange-color);
}
/* ========== /MOBILE MENU ========== */
@media screen and (min-width: 768px) {
    .page-header-container {
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .mobile-menu-open-btn {
        width: 32px;
        height: 32px;
    }
    .mobile-menu-open-btn-icon {
        width: 32px;
        height: 32px;
    }
    .mobile-menu {
        width: 290px;
    }
    .mobile-menu-container {
        padding-left: 85px;
        padding-top: 156px;
        padding-right: 81px;
    }
    .mobile-menu-close-btn {
        top: 24px;
        right: 32px;
        width: 32px;
        height: 32px;   
    }
    .mobile-menu-close-btn-icon {
        width: 32px;
        height: 32px;
    }
}
@media screen and (min-width: 1200px) {
    .mobile-menu-open-btn,
    .mobile-menu {
        display: none;
    }
    .page-header-container {
        padding-bottom: 32px;
    }
    .header-logo-icon {
        width: 24px;
        height: 24px;
    }
    .header-logo-text {
        font-size: 18px;
        line-height: 1.11;
    }
    .header-navigation-list {
        display: flex;
        align-items: center;
        gap: 24px;
    }
    .header-navigation-link {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: -0.02em;
        color: var(--black-color);
    }
    .header-navigation-link:hover,
    .header-navigation-link:focus {
        color: var(--orange-color);
    }
    .header-networks-list {
        display: flex;
        gap: 18px;
    }
    .header-networks-link {
        display: flex;
        justify-content: center;
        align-items: center;
        stroke: var(--black-color);
        fill: transparent;
        width: 24px;
        height: 24px;
    }
    .header-networks-link:hover,
    .header-networks-link:focus {
        stroke: var(--orange-color);
    }
    
}
@media screen and (max-width: 1199px) {
    .header-navigation {
        display: none;
    }
    .header-networks-wrapper {
        display: none;
    }
}