/* зверни увагу, що ширина контейнеру та деякі скидання прописані в /reset.css */

.made-section-title{
    margin-bottom: 32px;
}
.made-section-two_blocks-wrapper{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.made-section-video-wrapper {
    position: relative;
    
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(pastry-chef-preparing-chocolate-cake.jpg);
    border-radius: 15px;
}

.made-section-img{
    max-width: 335px;
    max-height: 500px;
    width: 100%;
    border-radius: 15px;
}

.video{
    position: absolute;
    top: 0;
    left: 0;
  
    display: none;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid var(--white-color);
    border-radius: 50%;
    fill:#F5F4F4;

    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 11px;
    padding-right: 8px;
  
    width: 35px;
    height: 35px;
}

.play-btn:hover,
.play-btn:focus {
    border-color: var(--orange-color);
}

.play-btn:hover .icon-play,
.play-btn:focus .icon-play{
    fill: var(--orange-color);
}

.made-section-description{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 14px;
    padding-right: 14px;
    background-color: var(--white-color);   
    border-radius: 15px; 
}
.made-title-second{
    font-weight: 600;
    font-size: 18px;
    line-height: 1.3;
    color: var(--black-color);

    margin-bottom: 20px;
}
.made-list-container{

    display: flex;
    flex-direction: column;
    gap: 18px; 
}
.made-section-list{
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    gap: 18px;

}

.made-section-item{
    position: relative;
}
.made-section-item::after{
    position: absolute;
    content: ' ';
    display: block;

    top: 6px;
    left: -16px;
    width: 8px;
    height: 8px;
    background: #4C4C4C;
    border: 1px solid #ECEDED;  
    border-radius: 50%;

}
.made-paragraf{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    color: var(--black-color);
}

@media  screen and (min-width: 768px) {
    .made-section-img {
        max-width: 100%;
    }
    
    .made-section-description {
        max-width: 614px;
        padding: 32px;
    }
  
    .made-section-list {
        padding-right: 70px;
    }

    .made-title-second {
        padding-right: 200px;
    }
}

@media screen and (min-width: 1200px){
    .made-section {
     padding-bottom: 128px;
    }
    .made-section-two_blocks-wrapper {  
        flex-direction: row;
    }

    .made-section-video-wrapper {
        max-width: 600px;
    }

    .made-section-description {
        max-width: 516px;
    }

    .made-section-title {
        margin-bottom: 50px;
    }
}