/* Reset styles */
button {
  font-family: inherit;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  }

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* CONTAINER SIZES */
/* //////////////////////////////////////////////////////////// */
.container {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
/* //////////////////////////////////////////////////////////// */
/* COMPONENTS */
/* шрифти (кольори та фонт вемілі через var прописані в root styles.css*/
/* mobile  */
.section-title {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--black-color);
}
/* секшн тайтл на темний фон */
.section-title-on-dark {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.span-orange {
  color: var(--orange-color);
}
/* для таблета та десктопа - однакові зміни */
@media screen and (min-width: 768px) {
  .section-title {
    font-size: 24px;
    line-height: 1.17;
  }
  .section-title-on-dark {
    font-size: 24px;
    line-height: 1.17;
  }
}

/*  */
button {
  font-family: inherit;
  cursor: pointer;
}
/* для приховання (наприклад заголовку) */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
