/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./advantages.css');
@import url('./unique.css');
@import url('./made.css');
@import url('./products.css');
@import url('./sellers.css');
@import url('./reviews.css');
@import url('./subscribe.css');
@import url('./footer.css');
@import url('./modals.css');

:root {
  --black-color: #111111;
  --dark-purple-color: #1e1823;
  --orange-color: #fd9222;
  --main-font-family: 'Montserrat', sans-serif;
  --white-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: var(--main-font-family);
  background-color: #fafafa;
}
