/* зверни увагу, що ширина контейнеру та деякі скидання прописані в /reset.css */
/* BACKGROUND-IMAGE */
/* MOBILE */
@media screen and (max-width: 768px) {
  .subscribe-section {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url(/img/subscribe/mobile/image.png);
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      image-set(
        '/img/subscribe/mobile/image.webp' type('image/webp'),
        '/img/subscribe/mobile/image.png' type('image/png')
      );
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .subscribe-section {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url(/img/subscribe/mobile/image@2x.png);
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      image-set(
        '/img/subscribe/mobile/image@2x.png' type('image/png'),
        '/img/subscribe/mobile/image@2x.webp' type('image/webp')
      );
  }
}
/* TABLET */
@media screen and (min-width: 768px) {
  .subscribe-section {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url(/img/subscribe/tablet/image.png);
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      image-set(
        '/img/subscribe/tablet/image.webp' type('image/webp'),
        '/img/subscribe/tablet/image.png' type('image/png')
      );
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .subscribe-section {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url(/img/subscribe/tablet/image@2x.png);
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      image-set(
        '/img/subscribe/tablet/image@2x.png' type('image/png'),
        '/img/subscribe/tablet/image@2x.webp' type('image/webp')
      );
  }
}
/* DESCTOP */
@media screen and (min-width: 1200px) {
  .subscribe-section {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url(/img/subscribe/desktop/image.png);
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      image-set(
        '/img/subscribe/desktop/image.webp' type('image/webp'),
        '/img/subscribe/desktop/image.png' type('image/png')
      );
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .subscribe-section {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url(/img/subscribe/desktop/image@2x.png);
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      image-set(
        '/img/subscribe/desktop/image@2x.png' type('image/png'),
        '/img/subscribe/desktop/image@2x.webp' type('image/webp')
      );
  }
}

/* MAIM */
.subscribe-section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.subscribe-container {
  width: auto;
  height: 370px;
  display: block;
  align-items: center;
  justify-content: center;
  padding-top: 62px;
  padding-bottom: 62px;
}
.subscribe-opn-btn {
  width: 128px;
  height: 41px;
  background-color: var(--orange-color);
  color: var(--white-color);
  border-radius: 100px;
  border-color: transparent;
  margin-top: 24px;
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  margin-left: auto;
  margin-right: auto;
  transition: color var(--transition-dur-and-time-func),
    background-color var(--transition-dur-and-time-func);
}
.subscribe-opn-btn:hover,
.subscribe-opn-btn:focus {
    background: #fcf1e0;
    color: var(--orange-color);
}

.subscribe-main-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--white-color);
  margin-top: 24px;
  max-width: 326px;
  margin-left: auto;
  margin-right: auto;
}
.subscribe-title {
  max-width: 291px;
  width: 100%;
  margin: auto;
}
/* TABLET */
@media screen and (min-width: 768px) {
  .subscribe-main-text {
    max-width: unset;
    width: 467px;
  }
  
  .subscribe-opn-btn {
    width: 172px;
    height: 50px;
    font-size: 18px;
    line-height: 22px;
  }
}

/* ---MODAL FORM---- */
.subscribe-form-main {
  display: flex;
}
.subscribe-text-wrapper {
  padding-right: 24px;
  padding-left: 24px;
}
.subscribe-modal {
  max-width: 311px;
  height: 350px;
  background: #fafafa;
  border-radius: 15px;
  overflow: hidden;
}

.subscribe-modal-cls-btn {
  border: none;
  display: block;
  background-color: transparent;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 24px;
  top: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
}
.subscribe-cls-boton-icon {
  stroke: var(--white-color);
  transition: stroke var(--transition-dur-and-time-func);
}
.subscribe-modal-cls-btn .subscribe-cls-boton-icon:hover,
.subscribe-modal-cls-btn .subscribe-cls-boton-icon:focus {
  stroke: var(--orange-color);
}
.subscribe-form-btn {
  width: 100px;
  height: 45px;
  left: 163px;
  top: 0px;
  color: var(--white-color);
  background-color: var(--orange-color);
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  border-radius: 100px;
  border-color: transparent;
  transition: color var(--transition-dur-and-time-func),
    background-color var(--transition-dur-and-time-func);
}
.subscribe-form-btn:hover,
.subscribe-form-btn:focus {
    background: #fcf1e0;
    color: var(--orange-color);
}
.subscribe-form-email-input {
  outline: transparent;
  max-width: 163px;
  height: 45px;
  border-radius: 100px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;
  padding-left: 18px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  transition: border-color var(--transition-dur-and-time-func);
}
.subscribe-form-email-input:focus {
  border-color: var(--orange-color);
}
.subscribe-form-email-input::placeholder {
  color: rgba(64, 64, 64, 0.3);
}
.subscribe-frm-text {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--black-color);
  margin-top: 32px;
  margin-bottom: 24px;
}
/* TABLET */
@media screen and (min-width: 768px) {
  .subscribe-modal {
    max-width: 538px;
    height: 413px;
  }
  .subscribe-form-email-input {
    max-width: unset;
    width: 313px;
    height: 52px;
  }
  .subscribe-form-btn {
    width: 137px;
    height: 52px;
    margin-left: 8px;
  }
  .subscribe-form-email-input {
    padding-left: 24px;
  }
}
